nav{
  width: 1728px;
height: 87px;
  background-color:black;
}
p{
  color:white;
position: absolute;
width: 180px;
height: 29px;
left: 38px;
top: 29px;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;
}
